.image-wrapper {
  position: relative;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .2s ease-in;
  background-color: rgba(0, 0, 0, .7);
}

.fav-button-anim {
  opacity: 0;
  transition: .2s ease-in;
}

.image-wrapper:hover .overlay {
  opacity: 1;
}

.image-wrapper:hover .fav-button-anim {
  opacity: 1;
}